.tag {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 30px;
	border: 1px solid transparent;
}

.s {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1;
}

.m {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1;
}

.ghost {
	background: transparent;
	border: 1px solid var(--ghost-btn-border-color);
	font-weight: 500;
}

.red {
	background: var(--color-red);
	border: 1px solid var(--color-red);
	color: var(--text-color-white);
	font-weight: 600;
}

.grey {
	background: var(--color-grey-tag-bg);
	border: 1px solid var(--color-grey-tag-bg);
	color: var(--text-color-white);
	font-weight: 600;
}

.green {
	background: var(--color-green-tag-bg);
	border: 1px solid var(--color-green-tag-bg);
	color: var(--color-green-tag-text);
	font-weight: 700;
}

.primary {
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
	font-weight: 500;
}
